.container{
    max-width: 600px;
}

.btn{
    background: #43d9be;
    color: white;
    outline: none !important;
    box-shadow: none !important;
}

.btn:focus{
    outline: none !important;
}

.chat-list{
    list-style: none;
}

.username{
    font-weight: 600;
}

.time{
    font-size: 0.6em;
}

